.profile-container{
   display: flex;
   flex-direction: column; 
   /* position: relative; */
   width :250px;
   height: 100%;
   /* background-color: hsl(226, 43%, 10%); */
   border-radius: 15px;
   /* min-height: 424px; */
   overflow: hidden;
   box-sizing: border-box;
   grid-row: span 2;
}
.profile-content{
    background-color: hsl(246, 80%, 60%);
    /* position: absolute; */
    border-radius: 16px;
    padding: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;

}

.profile-buttons{
    background-color: rgb(21, 21, 49);
    padding: 15px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border-radius: 16px; */
     box-sizing: border-box;
     flex-grow: 1;
    

}
.profile-icon{
    border: 3px, solid white;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: transparent;

}

.profile-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.profile-title-text{
    margin: 0;
    font-size: 14px;
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}
profile-name-text{
    margin: 0;
    font-size: 32px;
    color: white;
    font-weight: 300;
    line-height: 1.2;
}
.profileName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.profile-buttons button{
    background: transparent;
    border: none;
    appearance: none;
    font-size: 16px;
    cursor: pointer;
    color: hsl(236, 100%, 87%);
}
/* .profile-buttons button:last-child{
    margin-bottom: 8px;
} */

.profile-buttons button:hover {
    color:blue ;
    transform: translateY(0.3px);
}
.profile-buttons button:active{
    background-color: transparent;
    color:white;
}
.active{
    font-weight: 500;
    color: white !important;
}

@media (max-width:768px) {
    .profile-container{
        width: 100% !important;
        max-width: 100%;
        min-width: auto;
        grid-row: span 1;
        box-sizing: border-box;
    }
    .profile-content{
       flex-direction: row;
       align-items: center;
       gap: 20px;
       padding: 24px; 
       width: 100%;
       box-sizing: border-box;
       flex-grow: 0;
    }
    .profile-icon{
        margin-bottom: 0;
        width: 64px;
        height: 64px;
    }
    .profile-buttons{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 28px 24px;
        width: 100%;
        flex-grow: 0;
    }
}
